name: CI
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: xorriso build-essential
          version: 1.0
      
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      
      - run: zig build

      - uses: actions/upload-artifact@v4.6.2
        with:
          path: ./zig-out/os.iso
